html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f6cd61; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #3da4ab; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #f6cd61; /* creates padding around scroll thumb */
}

.main {
  background-color: #3da4ab;
}
