.card__content {
  flex: 1;
}

.pokemon__img__box {
  background-color: #4a4e4d;
  border-radius: 100%;
  padding: 0.7em;
  width: 150px;
}

.pokemon__img {
  height: 150px;
}

.card__content h1 {
  color: #f6cd61;
  text-shadow: 2px 1px 2px #4a4e4d;
}

.pokemon__order {
  margin-top: 0.7em;
}

.order {
  background-color: #4a4e4d8a;
  border-radius: 7px;
  color: #fe8a71;
  text-shadow: 2px 1px 2px #4a4e4d;
  font-size: 1.4em;
  font-weight: bold;
  padding: 0px 7px 0px 7px;
}

.name__pokemon {
  font-size: 2em;
  font-weight: 700;
  margin: 15px 0px;
}

.type__pokemon {
  color: white;
  font-size: 1.4em;
  text-shadow: 2px 1px 2px #4a4e4d;
}
