.header {
  background-color: #f6cd61;
  text-align: center;
}

.content__header .title__header {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 15px;
  transition: all 0.2s;
}

.content__header p {
  font-size: 2em;
  font-weight: 400;
}

.content__header span {
  color: #fe8a71;
  font-weight: 500;
  text-shadow: 2px 2px 2px #3da4ab;
  transition: all 0.4s;
}

.content__header a {
  text-decoration: none;
  color: inherit;
}

.content__header span:hover {
  color: #3da4ab;
  text-shadow: 2px 2px 2px #fe8a71;
}
