.container {
  display: flex;
  background-color: #f6cd61;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* Colocar cor */
.form {
  display: flex;
  flex-direction: column;
  width: 35vh;
}

.title {
  text-shadow: 2px 1px 1px white;
}

.title__welcome {
  font-size: 7em;
  font-weight: 400;
  margin-bottom: 40px;
  transition: all 0.4s;
}

.title__welcome:hover {
  /* deslocamento-x | deslogamento-y | cor */
  text-shadow: 4px 4px white;
}

.form__label {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 10px;
}

.form__name__input {
  border-style: none;
  outline: none;
  background-color: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin-bottom: 20px;

  transition: all 0.4s;
}

.form__name__input:hover {
  border-style: none;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
}

.form__name__input:focus {
  border-style: none;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 7px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
}

.button__area {
  display: flex;
  justify-content: center;
}

.form__login__button {
  background-color: white;
  border-style: none;
  border-radius: 7px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.2);
  width: 40%;
  height: 35px;
  transition: 0.7s;
}

.form__login__button:hover {
  border-radius: 10px;
  background-color: #fe8a71;
}
